.header{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(0, 70, 155);
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-align: left;
    margin: 15px;
    border-radius: 5px;
    max-width: 1400px;
    width:100%;
    align-items: center;
}

.header__container{
    margin: 0px 0px 0px 50px;
    
}

.header__image {
    width: 200px;
/*    height: 55px;*/
}